<footer class="page-footer foot-bg-color">
    <div class="container row center-align">
        <div class="col s12 m9 l9 copy-right">
            本站由&copy;<a href="#" class="foot-titlt-bg " target="_blank">&nbsp;码酱&nbsp;</a>基于
            <a href="#" class="foot-titlt-bg " target="_blank">&nbsp;ghost博客主题&nbsp;</a> 采用
            <a href="#" class="foot-titlt-bg " target="_blank">&nbsp;ghost-mdb-theme&nbsp;</a>主题搭建,© 2018 蜀ICP备18020377号
        </div>
        <div class="col s12 m3 l3 social-link">
            <a href="https://github.com/luokangyuan" class="tooltipped" target="_blank" data-tooltip="访问我的GitHub"
                data-position="top" data-delay="50">
                <i class="fa fa-github fa-lg"></i>
            </a>
            <a href="mailto:lky9503@163.com" class="tooltipped" target="_blank" data-tooltip="邮件联系我" data-position="top"
                data-delay="50">
                <i class="fa fa-envelope fa-lg"></i>
            </a>
            <a href="#!" class="tooltipped" data-tooltip="QQ: 243518985" data-position="top" data-delay="50">
                <i class="fa fa-qq fa-lg"></i>
            </a>
        </div>
        <div class="col s12 m9 l9 copy-right">
            设计和样式借鉴于 <a href="https://github.com/blinkfox/hexo-theme-matery" target="_blank" class="foot-titlt-bg ">hexo-theme-matery</a>
            &nbsp;
            <span id="busuanzi_container_site_uv">
                本站总访问量&nbsp;<span id="busuanzi_value_site_uv" class="foot-titlt-bg "></span>&nbsp;次

                &nbsp;&nbsp;友情链接：
                <a href="https://blinkfox.github.io/" target="_blank" class="foot-titlt-bg ">闪烁之狐</a>
                <a href="http://w3more.cn/" target="_blank" class="foot-titlt-bg ">杉木博客</a>
        </div>
    </div>
</footer>

<div class="progress-bar"></div>
