<footer class="page-footer foot-bg-color">
    <div class="container row center-align">
        <div class="col s12 m8 l8 copy-right">
            本站由&copy;<a href="#" target="_blank">码酱</a>基于
            <a href="#" target="_blank">ghost博客主题</a> 采用
            <a href="#" target="_blank">ghost-mdb-theme</a>主题搭建,© 2018 蜀ICP备18020377号
        </div>
        <div class="col s12 m4 l4 social-link">
            <a href="https://github.com/luokangyuan" class="tooltipped" target="_blank" data-tooltip="访问我的GitHub"
                data-position="top" data-delay="50">
                <i class="fa fa-github fa-lg"></i>
            </a>
            <a href="mailto:lky9503@163.com" class="tooltipped" target="_blank" data-tooltip="邮件联系我" data-position="top"
                data-delay="50">
                <i class="fa fa-envelope fa-lg"></i>
            </a>
            <a href="#!" class="tooltipped" data-tooltip="QQ: 243518985" data-position="top" data-delay="50">
                <i class="fa fa-qq fa-lg"></i>
            </a>
        </div>
        <div class="col s12 m8 l8 copy-right">
            设计和样式借鉴于 <a href="https://github.com/blinkfox/hexo-theme-matery" target="_blank">hexo-theme-matery</a>
            &nbsp;&nbsp;&nbsp;
            <span id="busuanzi_container_site_uv">
                本站总访问量<span id="busuanzi_value_site_uv"></span>次

                &nbsp;&nbsp;友情链接：
                <a href="https://blinkfox.github.io/" target="_blank">闪烁之狐</a>
                <a href="http://w3more.cn/" target="_blank">杉木博客</a>
        </div>
    </div>
</footer>

<div class="progress-bar"></div>
