<div id="toc"></div>

<link rel="stylesheet" type="text/css" href="../assets/css/my.css">  

<script src="../assets/libs/toc/jquery-ui-1.9.1.custom.min.js"></script>
<script src="../assets/libs/toc/jquery.tocify.js"></script>

{{!-- 配置及生成目录 --}}
<script>
    var toc = $("#toc").tocify({
        selectors: "h2,h3"
    }).data("toc-tocify");
    prettyPrint();
    $(".optionName").popover({ trigger: "hover" });

</script>