{{!< default}}
    <main class="content">
        <div id="tags" class="container tag-tip-container">
            <div class="card">
                <div class="card-content">
                    <div class="tag-title center-align">文章标签</div>
                    <div class="tag-chips">
                        {{#get "tags" limit="all" include="count.posts" order="count.posts desc" }}
                        {{#foreach tags}}
                        {{#if count.posts}}
                        <a href="/articles/classification/{{slug}}">
                            <span class="chip center-align waves-effect waves-light
                             chip-default classificationColor"
                                style="background-color: #F9EBEA;">{{name}}
                                <span class="tag-length">({{count.posts}})</span>
                            </span>
                        </a>
                        {{/if}}
                        {{/foreach}}
                        {{/get}}
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <article>
                <div class="row tags-posts">
                    <div class="article tag-post col s12 m4 l4">
                        <div class="card">
                            <div class="skill-title center-align">知识技能图</div>
                            <hr class="skill-hr">
                            <div style="height:400px">

                            </div>
                        </div>
                    </div>
                    <div class="article tag-post col s12 m4 l4">
                        <div class="card">
                            <div class="skill-title center-align">个人成长图</div>
                            <hr class="skill-hr">
                            <div  style="height:400px">

                            </div>
                        </div>
                    </div>
                    <div class="article tag-post col s12 m4 l4">
                        <div class="card">
                            <div class="skill-title center-align">个人成长图</div>
                            <hr class="skill-hr">
                            <div  style="height:400px">

                            </div>
                        </div>
                    </div>

                </div>
            </article>
        </div>
    </main>
    