{{!< default}}
<main class="content">
    <div id="tags" class="container tag-tip-container">
        <div class="card">
            <div class="card-content">
                <div class="tag-title center-align" data-aos="zoom-in">文章标签</div>
                <div class="tag-chips" data-aos="zoom-in">
                    {{#get "tags" limit="all" include="count.posts" order="count.posts desc" }}
                        {{#foreach tags}}
                            {{#if count.posts}}
                                <a href="/articles/classification/{{slug}}">
                        <span class="chip center-align waves-effect waves-light
                             chip-default classificationColor"
                              style="background-color: #F9EBEA;">{{name}}
                            <span class="tag-length">({{count.posts}})</span>
                        </span>
                                </a>
                            {{/if}}
                        {{/foreach}}
                    {{/get}}
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <article>
            <div class="row tags-posts">
                <div class="article tag-post col s12 m6 l6">
                    <div class="card">
                        <div class="skill-title center-align" data-aos="fade-right">知识技能图</div>
                        <hr class="skill-hr">
                        <div class="chart" id="leida" style="height:400px"></div>
                    </div>
                </div>
                <div class="article tag-post col s12 m6 l6">
                    <div class="card">
                        <div class="skill-title center-align" data-aos="fade-left">年度成长图</div>
                        <hr class="skill-hr">
                        <div class="chart" id="line" style="height:400px"></div>
                    </div>
                </div>
                <div class="article tag-post col s12 m12 l12">
                    <div class="card">
                        <div id="tag-wordcloud" class="card-content"></div>
                    </div>
                </div>

            </div>
        </article>
    </div>
</main>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/echarts/4.2.0-rc.2/echarts.js"></script>
<script src="{{asset "js/guidang.js"}}"></script>
