<!DOCTYPE html>
<html lang="{{lang}}">

<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="assets/libs/awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="assets/libs/materialize/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="assets/libs/aos/aos.css">
    <link rel="stylesheet" type="text/css" href="assets/libs/animate/animate.min.css">
    <link rel="stylesheet" type="text/css" href="ç/libs/lightGallery/css/lightgallery.min.css">
    <link rel="stylesheet" type="text/css" href="assets//css/matery.css">
    <link rel="stylesheet" type="text/css" href="assets/css/my.css">
    <link rel="stylesheet" href="/css/prism-tomorrow.css" type="text/css">
    <script src="assets/libs/jquery/jquery-2.2.0.min.js"></script>
    <style>
   svg {
    color: #fff;
    fill: var(--theme-color,#4CD964);
    height: 80px;
    width: 80px;
  }
  .nav-transparent .github-corner{
      opacity: 0 !important;
  }
  .github-corner{
    position: absolute;
    z-index: 10000000;
    top: -12px;
    right: -8px;
    transform: scale(.8);
  }
  .github-corner:hover .octo-arm {
    animation: a 0.56s ease-in-out;
  }
  .github-corner .octo-arm {
    animation: none;
  }
  @keyframes a {
    0%,
    to {
      transform: rotate(0);
    }
    20%,
    60% {
      transform: rotate(-25deg);
    }
    40%,
    80% {
      transform: rotate(10deg);
    }
  }
  </style>

</head>

<body>

    <header class="navbar-fixed">
        <nav id="headNav" class="bg-color nav-transparent">
            <div id="navContainer" class="container">
                <div class="nav-wrapper">
                    <div class="brand-logo">
                        <a href="/" class="waves-effect waves-light">
                            <img src="assets/img/logo.png" class="logo-img hide-on-small-only">
                            <span class="logo-span">码酱博客</span>
                        </a>
                    </div>
                    <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="fa fa-navicon"></i></a>
                    <ul class="right">
                        <li class="hide-on-med-and-down">
                            <a href="/" class="waves-effect waves-light">码酱首页</a>
                        </li>
                        <li class="hide-on-med-and-down">
                            <a href="/tags" class="waves-effect waves-light">文章标签</a>
                        </li>
                        <li class="hide-on-med-and-down">
                            <a href="/archives" class="waves-effect waves-light">文章归档</a>
                        </li>
                        <li class="hide-on-med-and-down">
                            <a href="/archives" class="waves-effect waves-light">关于我</a>
                        </li>
                        <li>
                            <a id="toggleSearch" class="waves-effect waves-light">
                                <i id="searchIcon" class="mdi-action-search"></i>
                            </a>
                        </li>
                    </ul>
                   
                    <div class="side-nav" id="mobile-nav">
                        <div class="mobile-head bg-color">
                            <img src="assets/medias/logo.png" class="logo-img circle responsive-img">
                            <div class="logo-name">努力做最有价值的技术文章</div>
                            <div class="logo-desc">
                                这里，只求分享与免费；这里，不隐含扭曲的价值观，而是整合并充盈正能量；
                            </div>
                        </div>
                        <ul class="menu-list">
                            <li>
                                <a href="/" class="waves-effect waves-light">
                                    <i class="fa fa-link fa-lg fa-fw"></i>码酱首页
                                </a>
                            </li>
                            <li>
                                <a href="/tags" class="waves-effect waves-light">
                                    <i class="fa fa-link fa-lg fa-fw"></i>标文章签
                                </a>
                            </li>
                            <li>
                                <a href="/archives" class="waves-effect waves-light">
                                    <i class="fa fa-link fa-lg fa-fw"></i>文章归档
                                </a>
                            </li>
                            <li>
                                <a href="/archives" class="waves-effect waves-light">
                                    <i class="fa fa-link fa-lg fa-fw"></i>关于我
                                </a>
                            </li>
                        </ul>
                        <div class="social-link">
                            <a href="https://github.com/luokangyuan" class="tooltipped" target="_blank" data-tooltip="访问我的GitHub"
                                data-position="top" data-delay="50">
                                <i class="fa fa-github fa-lg"></i>
                            </a>
                            <a href="mailto:lky9503@163.com" class="tooltipped" target="_blank" data-tooltip="邮件联系我"
                                data-position="top" data-delay="50">
                                <i class="fa fa-envelope fa-lg"></i>
                            </a>
                            <a href="#!" class="tooltipped" data-tooltip="QQ号：243518985" data-position="top" data-delay="50">
                                <i class="fa fa-qq fa-lg"></i>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
             <a href="javascript:;" class="github-corner">
                        <svg viewBox="0 0 250 250" aria-hidden="true">
                            <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>
                            <path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2"
                                fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path>
                            <path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z"
                                fill="currentColor" class="octo-body"></path>
                        </svg>
                    </a>
        </nav>
    </header>

    <div class="bg-cover" style="background-image: url('/medias/cover.jpg')">
        <div class="container">
            <div class="row">
                <div class="col s10 offset-s1 m8 offset-m2 l8 offset-l2">
                    <div class="brand">
                        <div class="title center-align">
                            努力做最有价值的技术文章
                        </div>
                        <div class="description center-align">
                            这里，只求分享与免费；这里，不隐含扭曲的价值观，而是整合并充盈正能量；
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Dynamically switch banner pictures every day.
        $('.bg-cover').css('background-image', 'url(assets/medias/banner/' + new Date().getDay() + '.jpg)');
    </script>
    <main class="content">
        <div class="container notice">
            <div class="card">
                <div class="card-content">
                    <i class="fa fa-volume-up fa-lg fa-fw text-color"></i>此生之路，我将走过；走过这一次，便再也无法重来。所有力所能及的善行，所有充盈于心的善意，我将毫不吝惜，即刻倾于。我将不再拖延，再不淡漠，只因此生之路，再也无法重来。
                </div>
            </div>
        </div>
        <!-- 所有文章卡片 -->
        <article id="articles" class="container articles">
            <div class="row article-row">
                <div class="article col s12 m6 l4" data-aos="zoom-in">
                    <div class="card">
                        <a href="/2018/09/14/2018/09/java-mian-xiang-dui-xiang-she-ji-zhi-gong-han-fang-fa-mo-shi/">
                            <div class="card-image">

                                <img src="http://static.blinkfox.com/hexoblog_20180914_factory.jpg" class="responsive-img"
                                    alt="Java面向对象设计之工厂方法模式">

                                <span class="card-title">Java面向对象设计之工厂方法模式</span>
                            </div>

                            <div class="card-content article-content">
                                <div class="summary">一、模式定义工厂方法模式(Factory Method Pattern)又称为工厂模式，也叫虚拟构造器(Virtual </div>
                                <div class="publish-info">
                                    <span class="publish-date">
                                        <i class="fa fa-calendar fa-fw"></i>2018-09-14
                                    </span>
                                    <span class="publish-author">
                                        <i class="fa fa-user fa-fw"></i>

                                        罗康元

                                    </span>
                                </div>
                            </div>


                            <div class="card-action article-tags">

                                <a href="https://blinkfox.github.io/tags/Java/" target="_blank">
                                    <span class="chip bg-color">Java</span>
                                </a>

                                <a href="https://blinkfox.github.io/tags/设计模式/" target="_blank">
                                    <span class="chip bg-color">设计模式</span>
                                </a>

                            </div>

                        </a>
                    </div>
                </div>
                <div class="article col s12 m6 l4" data-aos="zoom-in">
                    <div class="card">
                        <a href="/2018/09/14/2018/09/java-mian-xiang-dui-xiang-she-ji-zhi-gong-han-fang-fa-mo-shi/">
                            <div class="card-image">

                                <img src="http://static.blinkfox.com/hexoblog_20180914_factory.jpg" class="responsive-img"
                                    alt="Java面向对象设计之工厂方法模式">

                                <span class="card-title">Java面向对象设计之工厂方法模式</span>
                            </div>

                            <div class="card-content article-content">
                                <div class="summary">一、模式定义工厂方法模式(Factory Method Pattern)又称为工厂模式，也叫虚拟构造器(Virtual </div>
                                <div class="publish-info">
                                    <span class="publish-date">
                                        <i class="fa fa-calendar fa-fw"></i>2018-09-14
                                    </span>
                                    <span class="publish-author">
                                        <i class="fa fa-user fa-fw"></i>

                                        罗康元

                                    </span>
                                </div>
                            </div>


                            <div class="card-action article-tags">

                                <a href="https://blinkfox.github.io/tags/Java/" target="_blank">
                                    <span class="chip bg-color">Java</span>
                                </a>

                                <a href="https://blinkfox.github.io/tags/设计模式/" target="_blank">
                                    <span class="chip bg-color">设计模式</span>
                                </a>

                            </div>

                        </a>
                    </div>
                </div>
                <div class="article col s12 m6 l4" data-aos="zoom-in">
                    <div class="card">
                        <a href="/2018/09/14/2018/09/java-mian-xiang-dui-xiang-she-ji-zhi-gong-han-fang-fa-mo-shi/">
                            <div class="card-image">

                                <img src="http://static.blinkfox.com/hexoblog_20180914_factory.jpg" class="responsive-img"
                                    alt="Java面向对象设计之工厂方法模式">

                                <span class="card-title">Java面向对象设计之工厂方法模式</span>
                            </div>

                            <div class="card-content article-content">
                                <div class="summary">一、模式定义工厂方法模式(Factory Method Pattern)又称为工厂模式，也叫虚拟构造器(Virtual </div>
                                <div class="publish-info">
                                    <span class="publish-date">
                                        <i class="fa fa-calendar fa-fw"></i>2018-09-14
                                    </span>
                                    <span class="publish-author">
                                        <i class="fa fa-user fa-fw"></i>

                                        罗康元

                                    </span>
                                </div>
                            </div>


                            <div class="card-action article-tags">

                                <a href="https://blinkfox.github.io/tags/Java/" target="_blank">
                                    <span class="chip bg-color">Java</span>
                                </a>

                                <a href="https://blinkfox.github.io/tags/设计模式/" target="_blank">
                                    <span class="chip bg-color">设计模式</span>
                                </a>

                            </div>

                        </a>
                    </div>
                </div>
                <div class="article col s12 m6 l4" data-aos="zoom-in">
                    <div class="card">
                        <a href="/2018/09/14/2018/09/java-mian-xiang-dui-xiang-she-ji-zhi-gong-han-fang-fa-mo-shi/">
                            <div class="card-image">

                                <img src="http://static.blinkfox.com/hexoblog_20180914_factory.jpg" class="responsive-img"
                                    alt="Java面向对象设计之工厂方法模式">

                                <span class="card-title">Java面向对象设计之工厂方法模式</span>
                            </div>

                            <div class="card-content article-content">
                                <div class="summary">一、模式定义工厂方法模式(Factory Method Pattern)又称为工厂模式，也叫虚拟构造器(Virtual </div>
                                <div class="publish-info">
                                    <span class="publish-date">
                                        <i class="fa fa-calendar fa-fw"></i>2018-09-14
                                    </span>
                                    <span class="publish-author">
                                        <i class="fa fa-user fa-fw"></i>

                                        罗康元

                                    </span>
                                </div>
                            </div>


                            <div class="card-action article-tags">

                                <a href="https://blinkfox.github.io/tags/Java/" target="_blank">
                                    <span class="chip bg-color">Java</span>
                                </a>

                                <a href="https://blinkfox.github.io/tags/设计模式/" target="_blank">
                                    <span class="chip bg-color">设计模式</span>
                                </a>

                            </div>

                        </a>
                    </div>
                </div>
                <div class="article col s12 m6 l4" data-aos="zoom-in">
                    <div class="card">
                        <a href="/2018/09/14/2018/09/java-mian-xiang-dui-xiang-she-ji-zhi-gong-han-fang-fa-mo-shi/">
                            <div class="card-image">

                                <img src="http://static.blinkfox.com/hexoblog_20180914_factory.jpg" class="responsive-img"
                                    alt="Java面向对象设计之工厂方法模式">

                                <span class="card-title">Java面向对象设计之工厂方法模式</span>
                            </div>

                            <div class="card-content article-content">
                                <div class="summary">一、模式定义工厂方法模式(Factory Method Pattern)又称为工厂模式，也叫虚拟构造器(Virtual </div>
                                <div class="publish-info">
                                    <span class="publish-date">
                                        <i class="fa fa-calendar fa-fw"></i>2018-09-14
                                    </span>
                                    <span class="publish-author">
                                        <i class="fa fa-user fa-fw"></i>

                                        罗康元

                                    </span>
                                </div>
                            </div>


                            <div class="card-action article-tags">

                                <a href="https://blinkfox.github.io/tags/Java/" target="_blank">
                                    <span class="chip bg-color">Java</span>
                                </a>

                                <a href="https://blinkfox.github.io/tags/设计模式/" target="_blank">
                                    <span class="chip bg-color">设计模式</span>
                                </a>

                            </div>

                        </a>
                    </div>
                </div>
                <div class="article col s12 m6 l4" data-aos="zoom-in">
                    <div class="card">
                        <a href="/2018/09/14/2018/09/java-mian-xiang-dui-xiang-she-ji-zhi-gong-han-fang-fa-mo-shi/">
                            <div class="card-image">

                                <img src="http://static.blinkfox.com/hexoblog_20180914_factory.jpg" class="responsive-img"
                                    alt="Java面向对象设计之工厂方法模式">

                                <span class="card-title">Java面向对象设计之工厂方法模式</span>
                            </div>

                            <div class="card-content article-content">
                                <div class="summary">一、模式定义工厂方法模式(Factory Method Pattern)又称为工厂模式，也叫虚拟构造器(Virtual </div>
                                <div class="publish-info">
                                    <span class="publish-date">
                                        <i class="fa fa-calendar fa-fw"></i>2018-09-14
                                    </span>
                                    <span class="publish-author">
                                        <i class="fa fa-user fa-fw"></i>

                                        罗康元

                                    </span>
                                </div>
                            </div>


                            <div class="card-action article-tags">

                                <a href="https://blinkfox.github.io/tags/Java/" target="_blank">
                                    <span class="chip bg-color">Java</span>
                                </a>

                                <a href="https://blinkfox.github.io/tags/设计模式/" target="_blank">
                                    <span class="chip bg-color">设计模式</span>
                                </a>

                            </div>

                        </a>
                    </div>
                </div>
                <div class="article col s12 m6 l4" data-aos="zoom-in">
                    <div class="card">
                        <a href="/2018/09/14/2018/09/java-mian-xiang-dui-xiang-she-ji-zhi-gong-han-fang-fa-mo-shi/">
                            <div class="card-image">

                                <img src="http://static.blinkfox.com/hexoblog_20180914_factory.jpg" class="responsive-img"
                                    alt="Java面向对象设计之工厂方法模式">

                                <span class="card-title">Java面向对象设计之工厂方法模式</span>
                            </div>

                            <div class="card-content article-content">
                                <div class="summary">一、模式定义工厂方法模式(Factory Method Pattern)又称为工厂模式，也叫虚拟构造器(Virtual </div>
                                <div class="publish-info">
                                    <span class="publish-date">
                                        <i class="fa fa-calendar fa-fw"></i>2018-09-14
                                    </span>
                                    <span class="publish-author">
                                        <i class="fa fa-user fa-fw"></i>

                                        罗康元

                                    </span>
                                </div>
                            </div>


                            <div class="card-action article-tags">

                                <a href="https://blinkfox.github.io/tags/Java/" target="_blank">
                                    <span class="chip bg-color">Java</span>
                                </a>

                                <a href="https://blinkfox.github.io/tags/设计模式/" target="_blank">
                                    <span class="chip bg-color">设计模式</span>
                                </a>

                            </div>

                        </a>
                    </div>
                </div>
                <div class="article col s12 m6 l4" data-aos="zoom-in">
                    <div class="card">
                        <a href="/2018/09/14/2018/09/java-mian-xiang-dui-xiang-she-ji-zhi-gong-han-fang-fa-mo-shi/">
                            <div class="card-image">

                                <img src="http://static.blinkfox.com/hexoblog_20180914_factory.jpg" class="responsive-img"
                                    alt="Java面向对象设计之工厂方法模式">

                                <span class="card-title">Java面向对象设计之工厂方法模式</span>
                            </div>

                            <div class="card-content article-content">
                                <div class="summary">一、模式定义工厂方法模式(Factory Method Pattern)又称为工厂模式，也叫虚拟构造器(Virtual </div>
                                <div class="publish-info">
                                    <span class="publish-date">
                                        <i class="fa fa-calendar fa-fw"></i>2018-09-14
                                    </span>
                                    <span class="publish-author">
                                        <i class="fa fa-user fa-fw"></i>

                                        罗康元

                                    </span>
                                </div>
                            </div>


                            <div class="card-action article-tags">

                                <a href="https://blinkfox.github.io/tags/Java/" target="_blank">
                                    <span class="chip bg-color">Java</span>
                                </a>

                                <a href="https://blinkfox.github.io/tags/设计模式/" target="_blank">
                                    <span class="chip bg-color">设计模式</span>
                                </a>

                            </div>

                        </a>
                    </div>
                </div>
                <div class="article col s12 m6 l4" data-aos="zoom-in">
                    <div class="card">
                        <a href="/2018/09/14/2018/09/java-mian-xiang-dui-xiang-she-ji-zhi-gong-han-fang-fa-mo-shi/">
                            <div class="card-image">

                                <img src="http://static.blinkfox.com/hexoblog_20180914_factory.jpg" class="responsive-img"
                                    alt="Java面向对象设计之工厂方法模式">

                                <span class="card-title">Java面向对象设计之工厂方法模式</span>
                            </div>

                            <div class="card-content article-content">
                                <div class="summary">一、模式定义工厂方法模式(Factory Method Pattern)又称为工厂模式，也叫虚拟构造器(Virtual </div>
                                <div class="publish-info">
                                    <span class="publish-date">
                                        <i class="fa fa-calendar fa-fw"></i>2018-09-14
                                    </span>
                                    <span class="publish-author">
                                        <i class="fa fa-user fa-fw"></i>

                                        罗康元

                                    </span>
                                </div>
                            </div>


                            <div class="card-action article-tags">

                                <a href="https://blinkfox.github.io/tags/Java/" target="_blank">
                                    <span class="chip bg-color">Java</span>
                                </a>

                                <a href="https://blinkfox.github.io/tags/设计模式/" target="_blank">
                                    <span class="chip bg-color">设计模式</span>
                                </a>

                            </div>

                        </a>
                    </div>
                </div>
                <div class="article col s12 m6 l4" data-aos="zoom-in">
                    <div class="card">
                        <a href="/2018/09/14/2018/09/java-mian-xiang-dui-xiang-she-ji-zhi-gong-han-fang-fa-mo-shi/">
                            <div class="card-image">

                                <img src="http://static.blinkfox.com/hexoblog_20180914_factory.jpg" class="responsive-img"
                                    alt="Java面向对象设计之工厂方法模式">

                                <span class="card-title">Java面向对象设计之工厂方法模式</span>
                            </div>

                            <div class="card-content article-content">
                                <div class="summary">一、模式定义工厂方法模式(Factory Method Pattern)又称为工厂模式，也叫虚拟构造器(Virtual </div>
                                <div class="publish-info">
                                    <span class="publish-date">
                                        <i class="fa fa-calendar fa-fw"></i>2018-09-14
                                    </span>
                                    <span class="publish-author">
                                        <i class="fa fa-user fa-fw"></i>

                                        罗康元

                                    </span>
                                </div>
                            </div>


                            <div class="card-action article-tags">

                                <a href="https://blinkfox.github.io/tags/Java/" target="_blank">
                                    <span class="chip bg-color">Java</span>
                                </a>

                                <a href="https://blinkfox.github.io/tags/设计模式/" target="_blank">
                                    <span class="chip bg-color">设计模式</span>
                                </a>

                            </div>

                        </a>
                    </div>
                </div>
                <div class="article col s12 m6 l4" data-aos="zoom-in">
                    <div class="card">
                        <a href="/2018/09/14/2018/09/java-mian-xiang-dui-xiang-she-ji-zhi-gong-han-fang-fa-mo-shi/">
                            <div class="card-image">

                                <img src="http://static.blinkfox.com/hexoblog_20180914_factory.jpg" class="responsive-img"
                                    alt="Java面向对象设计之工厂方法模式">

                                <span class="card-title">Java面向对象设计之工厂方法模式</span>
                            </div>

                            <div class="card-content article-content">
                                <div class="summary">一、模式定义工厂方法模式(Factory Method Pattern)又称为工厂模式，也叫虚拟构造器(Virtual </div>
                                <div class="publish-info">
                                    <span class="publish-date">
                                        <i class="fa fa-calendar fa-fw"></i>2018-09-14
                                    </span>
                                    <span class="publish-author">
                                        <i class="fa fa-user fa-fw"></i>

                                        罗康元

                                    </span>
                                </div>
                            </div>


                            <div class="card-action article-tags">

                                <a href="https://blinkfox.github.io/tags/Java/" target="_blank">
                                    <span class="chip bg-color">Java</span>
                                </a>

                                <a href="https://blinkfox.github.io/tags/设计模式/" target="_blank">
                                    <span class="chip bg-color">设计模式</span>
                                </a>

                            </div>

                        </a>
                    </div>
                </div>
                <div class="article col s12 m6 l4" data-aos="zoom-in">
                    <div class="card">
                        <a href="/2018/09/14/2018/09/java-mian-xiang-dui-xiang-she-ji-zhi-gong-han-fang-fa-mo-shi/">
                            <div class="card-image">

                                <img src="http://static.blinkfox.com/hexoblog_20180914_factory.jpg" class="responsive-img"
                                    alt="Java面向对象设计之工厂方法模式">

                                <span class="card-title">Java面向对象设计之工厂方法模式</span>
                            </div>

                            <div class="card-content article-content">
                                <div class="summary">一、模式定义工厂方法模式(Factory Method Pattern)又称为工厂模式，也叫虚拟构造器(Virtual </div>
                                <div class="publish-info">
                                    <span class="publish-date">
                                        <i class="fa fa-calendar fa-fw"></i>2018-09-14
                                    </span>
                                    <span class="publish-author">
                                        <i class="fa fa-user fa-fw"></i>

                                        罗康元

                                    </span>
                                </div>
                            </div>


                            <div class="card-action article-tags">

                                <a href="https://blinkfox.github.io/tags/Java/" target="_blank">
                                    <span class="chip bg-color">Java</span>
                                </a>

                                <a href="https://blinkfox.github.io/tags/设计模式/" target="_blank">
                                    <span class="chip bg-color">设计模式</span>
                                </a>

                            </div>

                        </a>
                    </div>
                </div>
                <div class="article col s12 m6 l4" data-aos="zoom-in">
                    <div class="card">
                        <a href="/2018/09/14/2018/09/java-mian-xiang-dui-xiang-she-ji-zhi-gong-han-fang-fa-mo-shi/">
                            <div class="card-image">

                                <img src="http://static.blinkfox.com/hexoblog_20180914_factory.jpg" class="responsive-img"
                                    alt="Java面向对象设计之工厂方法模式">

                                <span class="card-title">Java面向对象设计之工厂方法模式</span>
                            </div>

                            <div class="card-content article-content">
                                <div class="summary">一、模式定义工厂方法模式(Factory Method Pattern)又称为工厂模式，也叫虚拟构造器(Virtual </div>
                                <div class="publish-info">
                                    <span class="publish-date">
                                        <i class="fa fa-calendar fa-fw"></i>2018-09-14
                                    </span>
                                    <span class="publish-author">
                                        <i class="fa fa-user fa-fw"></i>

                                        罗康元

                                    </span>
                                </div>
                            </div>


                            <div class="card-action article-tags">

                                <a href="https://blinkfox.github.io/tags/Java/" target="_blank">
                                    <span class="chip bg-color">Java</span>
                                </a>

                                <a href="https://blinkfox.github.io/tags/设计模式/" target="_blank">
                                    <span class="chip bg-color">设计模式</span>
                                </a>

                            </div>

                        </a>
                    </div>
                </div>
                <div class="article col s12 m6 l4" data-aos="zoom-in">
                    <div class="card">
                        <a href="/2018/09/14/2018/09/java-mian-xiang-dui-xiang-she-ji-zhi-gong-han-fang-fa-mo-shi/">
                            <div class="card-image">

                                <img src="http://static.blinkfox.com/hexoblog_20180914_factory.jpg" class="responsive-img"
                                    alt="Java面向对象设计之工厂方法模式">

                                <span class="card-title">Java面向对象设计之工厂方法模式</span>
                            </div>

                            <div class="card-content article-content">
                                <div class="summary">一、模式定义工厂方法模式(Factory Method Pattern)又称为工厂模式，也叫虚拟构造器(Virtual </div>
                                <div class="publish-info">
                                    <span class="publish-date">
                                        <i class="fa fa-calendar fa-fw"></i>2018-09-14
                                    </span>
                                    <span class="publish-author">
                                        <i class="fa fa-user fa-fw"></i>

                                        罗康元

                                    </span>
                                </div>
                            </div>


                            <div class="card-action article-tags">

                                <a href="https://blinkfox.github.io/tags/Java/" target="_blank">
                                    <span class="chip bg-color">Java</span>
                                </a>

                                <a href="https://blinkfox.github.io/tags/设计模式/" target="_blank">
                                    <span class="chip bg-color">设计模式</span>
                                </a>

                            </div>

                        </a>
                    </div>
                </div>
                <div class="article col s12 m6 l4" data-aos="zoom-in">
                    <div class="card">
                        <a href="/2018/09/14/2018/09/java-mian-xiang-dui-xiang-she-ji-zhi-gong-han-fang-fa-mo-shi/">
                            <div class="card-image">

                                <img src="http://static.blinkfox.com/hexoblog_20180914_factory.jpg" class="responsive-img"
                                    alt="Java面向对象设计之工厂方法模式">

                                <span class="card-title">Java面向对象设计之工厂方法模式</span>
                            </div>

                            <div class="card-content article-content">
                                <div class="summary">一、模式定义工厂方法模式(Factory Method Pattern)又称为工厂模式，也叫虚拟构造器(Virtual </div>
                                <div class="publish-info">
                                    <span class="publish-date">
                                        <i class="fa fa-calendar fa-fw"></i>2018-09-14
                                    </span>
                                    <span class="publish-author">
                                        <i class="fa fa-user fa-fw"></i>

                                        罗康元

                                    </span>
                                </div>
                            </div>


                            <div class="card-action article-tags">

                                <a href="https://blinkfox.github.io/tags/Java/" target="_blank">
                                    <span class="chip bg-color">Java</span>
                                </a>

                                <a href="https://blinkfox.github.io/tags/设计模式/" target="_blank">
                                    <span class="chip bg-color">设计模式</span>
                                </a>

                            </div>

                        </a>
                    </div>
                </div>
                <div class="article col s12 m6 l4" data-aos="zoom-in">
                    <div class="card">
                        <a href="/2018/09/14/2018/09/java-mian-xiang-dui-xiang-she-ji-zhi-gong-han-fang-fa-mo-shi/">
                            <div class="card-image">

                                <img src="http://static.blinkfox.com/hexoblog_20180914_factory.jpg" class="responsive-img"
                                    alt="Java面向对象设计之工厂方法模式">

                                <span class="card-title">Java面向对象设计之工厂方法模式</span>
                            </div>

                            <div class="card-content article-content">
                                <div class="summary">一、模式定义工厂方法模式(Factory Method Pattern)又称为工厂模式，也叫虚拟构造器(Virtual </div>
                                <div class="publish-info">
                                    <span class="publish-date">
                                        <i class="fa fa-calendar fa-fw"></i>2018-09-14
                                    </span>
                                    <span class="publish-author">
                                        <i class="fa fa-user fa-fw"></i>

                                        罗康元

                                    </span>
                                </div>
                            </div>


                            <div class="card-action article-tags">

                                <a href="https://blinkfox.github.io/tags/Java/" target="_blank">
                                    <span class="chip bg-color">Java</span>
                                </a>

                                <a href="https://blinkfox.github.io/tags/设计模式/" target="_blank">
                                    <span class="chip bg-color">设计模式</span>
                                </a>

                            </div>

                        </a>
                    </div>
                </div>
            </div>
        </article>
    </main>
    <footer class="page-footer bg-color">
        <div class="container row center-align">
            <div class="col s12 m8 l8 copy-right">
                本站由&copy;<a href="#" target="_blank">码酱</a>基于
                <a href="#" target="_blank">ghost博客主题</a> 采用
                <a href="#" target="_blank">ghost-mdb-theme</a>主题搭建.
            </div>
            <div class="col s12 m4 l4 social-link">
                <a href="https://github.com/luokangyuan" class="tooltipped" target="_blank" data-tooltip="访问我的GitHub"
                    data-position="top" data-delay="50">
                    <i class="fa fa-github fa-lg"></i>
                </a>
                <a href="mailto:lky9503@163.com" class="tooltipped" target="_blank" data-tooltip="邮件联系我" data-position="top"
                    data-delay="50">
                    <i class="fa fa-envelope fa-lg"></i>
                </a>
                <a href="#!" class="tooltipped" data-tooltip="QQ: 243518985" data-position="top" data-delay="50">
                    <i class="fa fa-qq fa-lg"></i>
                </a>
            </div>
        </div>
    </footer>

    <div class="progress-bar"></div>


    <!-- 搜索遮罩框 -->
    <div id="searchModal" class="modal">
        <div class="modal-content">
            <div class="search-header">
                <span class="title">搜索</span>
                <input type="search" id="searchInput" name="s" placeholder="请输入搜索的关键字" class="search-input" autofocus="">
            </div>
            <div id="searchResult"></div>
        </div>
    </div>

    <script src="/js/search.js"></script>
    <script type="text/javascript">
        searchFunc("/" + "search.xml", 'searchInput', 'searchResult');
    </script>
    <!-- 回到顶部按钮 -->
    <div id="backTop" class="top-scroll">
        <a class="btn-floating btn-large waves-effect waves-light" href="#!">
            <i class="fa fa-angle-double-up"></i>
        </a>
    </div>


    <script src="assets/libs/materialize/js/materialize.min.js"></script>
    <script src="assets/libs/masonry/masonry.pkgd.min.js"></script>
    <script src="assets/libs/aos/aos.js"></script>
    <script src="assets/libs/scrollprogress/scrollProgress.min.js"></script>
    <script src="assets/libs/lightGallery/js/lightgallery-all.min.js"></script>
    <script src="assets/js/matery.js"></script>
</body>

</html>