<!DOCTYPE html>
<html lang="{{lang}}">

<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/css/compiled-4.5.10.min.css?ver=4.5.10">
    <link rel="stylesheet" href="assets/css/index.css">
    <link rel="stylesheet" href="assets/css/nave.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar top-nav-collapse ">
        <div class="container"> <a class="navbar-brand waves-effect waves-light" href="#"> <img
                    src="assets/img/logo1.png" alt="logo" width="120" height="25"> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item "> <a class="nav-link waves-effect waves-light" href="#/">码酱首页
                        </a></li>
                    <li class="nav-item "> <a class="nav-link waves-effect waves-light" href="#">博客分类
                        </a></li>
                    <li class="nav-item "> <a class="nav-link waves-effect waves-light" href="#">博客归档
                        </a></li>
                    <li class="nav-item "> <a class="nav-link waves-effect waves-light" href="#">关于我
                        </a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="top-section" class="carousel-100 slide carousel-fade white-text" data-ride="carousel">
        <ol class="carousel-indicators"></ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active view hm-black-light" style="background-image: url('https://o7axu8p8g.qnssl.com/img/cover/5.jpg?v=0.0.14');background-repeat: no-repeat;background-size: cover;">
                <div class="full-bg-img flex-center white-text">
                    <ul class="smooth-scroll animated fadeIn col-md-12">
                        <li>
                            <h1 class="h1-responsive wow fadeIn" style="animation-name: none; visibility: visible;">努力做最有价值的技术文章</h1>
                        </li>
                        <li>
                            <p class="subslogan wow fadeIn" data-wow-delay="0.4s" style="animation-name: none; visibility: visible;">这里，不求盈利，只求分享与免费；这里，不隐含扭曲的价值观，而是整合并充盈正能量；</p>
                        </li>
                        <li> <a href="#recent" class="btn-floating special-color-dark btn-lg wow fadeIn waves-effect waves-light"
                                data-wow-delay="0.4s" data-offset="100" style="animation-name: none; visibility: visible;">
                                <i class="fa fa-angle-down" aria-hidden="true"></i> </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br>
    <main class="">
        <div class="container">
            <section class="text-center my-5">
                <h2 class="h1-responsive font-weight-bold my-5">经得起时间考验的技术文章</h2>
                <div class="row">
                    <div class="col-lg-4 col-md-12 mb-lg-0 mb-4 " >
                        <div class="view overlay rounded z-depth-2 mb-4">
                            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/81.jpg" alt="Sample image">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <a href="#!" class="pink-text">
                            <h6 class="font-weight-bold mb-3"><i class="fa fa-map pr-2"></i>Adventure</h6>
                        </a>
                        <h4 class="font-weight-bold mb-3"><strong>Title of the news</strong></h4>
                        <p>by <a class="font-weight-bold">Billy Forester</a>, 15/07/2018</p>
                        <p class="dark-grey-text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
                            impedit quo minus id quod maxime placeat facere possimus voluptas.</p>
                        <a class="btn btn-pink btn-rounded btn-md">Read more</a>

                    </div>
                     <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
                        <div class="view overlay rounded z-depth-2 mb-4">
                            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/81.jpg" alt="Sample image">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <a href="#!" class="pink-text">
                            <h6 class="font-weight-bold mb-3"><i class="fa fa-map pr-2"></i>Adventure</h6>
                        </a>
                        <h4 class="font-weight-bold mb-3"><strong>Title of the news</strong></h4>
                        <p>by <a class="font-weight-bold">Billy Forester</a>, 15/07/2018</p>
                        <p class="dark-grey-text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
                            impedit quo minus id quod maxime placeat facere possimus voluptas.</p>
                        <a class="btn btn-pink btn-rounded btn-md">Read more</a>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-md-0 mb-4">

                        <!-- Featured image -->
                        <div class="view overlay rounded z-depth-2 mb-4">
                            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Sample image">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Category -->
                        <a href="#!" class="deep-orange-text">
                            <h6 class="font-weight-bold mb-3"><i class="fa fa-graduation-cap pr-2"></i>Education</h6>
                        </a>
                        <!-- Post title -->
                        <h4 class="font-weight-bold mb-3"><strong>Title of the news</strong></h4>
                        <!-- Post data -->
                        <p>by <a class="font-weight-bold">Billy Forester</a>, 13/07/2018</p>
                        <!-- Excerpt -->
                        <p class="dark-grey-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui
                            blanditiis voluptatum deleniti atque corrupti quos dolores.</p>
                        <!-- Read more button -->
                        <a class="btn btn-deep-orange btn-rounded btn-md">Read more</a>

                    </div>
                  
                    <div class="col-lg-4 col-md-6 mb-0">

                        <!-- Featured image -->
                        <div class="view overlay rounded z-depth-2 mb-4">
                            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/13.jpg" alt="Sample image">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Category -->
                        <a href="#!" class="blue-text">
                            <h6 class="font-weight-bold mb-3"><i class="fa fa-fire pr-2"></i>Culture</h6>
                        </a>
                        <!-- Post title -->
                        <h4 class="font-weight-bold mb-3"><strong>Title of the news</strong></h4>
                        <!-- Post data -->
                        <p>by <a class="font-weight-bold">Billy Forester</a>, 11/07/2018</p>
                        <!-- Excerpt -->
                        <p class="dark-grey-text">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
                            fugit, sed quia consequuntur magni dolores eos qui ratione.</p>
                        <!-- Read more button -->
                        <a class="btn btn-info btn-rounded btn-md">Read more</a>

                    </div>
                   

                </div>
                

            </section>
        </div>
    </main>

    {{!-- <footer class="page-footer center-on-small-only">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-1 col-md-6 ml-auto"></div>
                <div class="col-lg-3 col-md-6 ml-auto about-meta">
                    <h5 class="title font-bold mt-3 mb-4">关于本站</h5>
                    <hr class="stylish-color accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>开发者秘籍每周更新最系统的开发指南，帮助更多人巩固知识，让学习不再碎片化。</p>
                    <p class="pt-4">站长邮箱: <img src="https://o7axu8p8g.qnssl.com/img/email.png" width="160" style="padding-top: -5px;"></p>
                    <p class=""></p>
                    <h3>进击吧皮卡丘 <svg width="26" height="26" viewBox="0 0 26 26" xmlns="http://www.w3.org/2000/svg" style="fill:#E21F1F;"
                            class="NavLink-icon NavLink-icon--minor Footer-icon--heart" data-reactid="331">
                            <title data-reactid="332">heart</title>
                            <path d="M4.39 12.393S-1.315 9.331.282 6.717c1.597-2.614 4.108 0 4.108 0s2.28-2.23 4.004 0c1.724 2.231-4.004 5.676-4.004 5.676zm8.962-6.21S9.862 4.31 10.84 2.711c.977-1.6 2.513 0 2.513 0s1.395-1.365 2.45 0c1.055 1.365-2.45 3.472-2.45 3.472z"
                                data-reactid="333"></path>
                        </svg></h3>
                </div>
                <hr class="w-100 clearfix d-sm-none">
                <div class="col-lg-2 col-md-6 col-6 ml-auto">
                    <h5 class="title font-bold mt-3">最新文章</h5>
                    <hr class="stylish-color accent-2 mb-2 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <ul>
                        <li><a href="/one-key-script/caddy-filemanager.html">一键搭建最简单的私人网盘 File...</a></li>
                        <li><a href="/one-key-script/linx-spam-email.html">Linux封垃圾邮件(SPAM)/...</a></li>
                        <li><a href="/topics/one-key-script.html">一键脚本指南大全</a></li>
                        <li><a href="/python-full-stack/built-in-functions.html">Python 基础之Python3...</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 col-6 ml-auto">
                    <h5 class="title font-bold mt-3">开发者工具</h5>
                    <hr class="stylish-color mb-2 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <ul>
                        <li><a target="_blank" href="http://tool.lu/encdec/">字符串编解码</a></li>
                        <li><a target="_blank" href="http://tool.lu/css/">CSS在线压缩</a></li>
                        <li><a target="_blank" href="http://www.json.cn/">在线JSON格式化</a></li>
                        <li><a target="_blank" href="http://cron.qqe2.com/">Cron表达式生成器</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-12 ml-auto">
                    <h5 class="title font-bold mt-3">友情链接</h5>
                    <hr class="stylish-color mb-2 d-inline-block mx-auto" style="width: 60px;">
                    <ul>
                        <li><a target="_blank" href="https://github.com/biezhi">王爵的代码基地</a></li>
                        <li><a target="_blank" href="https://lets-blade.com">Blade MVC</a></li>
                        <li><a href="#!">虚位待定</a></li>
                        <li><a href="#!">虚位待定</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container-fluid col-lg-12"> © 2017 Copyright <a href=""> 开发者秘籍_开发者提升 </a> &nbsp; <a href="">dev-cheats.com</a>
                All Rights Reserved. <span id="busuanzi_container_site_pv" style="display: inline;"> 本站总访问量<span id="busuanzi_value_site_pv">41808</span>次
                </span></div>
        </div>
    </footer> --}}
</body>

</html>