{{!< default}} <main class="content">
    <div class="container" style="margin-top:-60px">
        <article>
            <div class="row tags-posts friend-all">
                <div class="article tag-post col s12 m4 l4" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="1500">
                    <div class="card frind-card">
                        <div class="frind-ship">
                            <div class="title">
                                <img src="http://image.luokangyuan.com/1_qq_27922023.jpg" alt="img">
                                <div>
                                    <h1>码酱</h1>
                                    <p>我不是大佬，只是在追寻大佬的脚步</p>
                                </div>
                            </div>
                            <div class="friend-button">
                                <a href="http://luokangyuan.com/" target="_blank" class="button button-glow button-rounded button-caution">前去学习</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="article tag-post col s12 m4 l4" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="1500">
                    <div class="card frind-card1">
                        <div class="frind-ship">
                            <div class="title">
                                <img src="http://image.luokangyuan.com/timjie-tu-20180731223952.png" alt="img">
                                <div>
                                    <h1>杉木</h1>
                                    <p>前端大佬，PS大佬，不仅会写代码，还弹的一手好吉他</p>
                                </div>
                            </div>
                            <div class="friend-button">
                                <a href="http://luokangyuan.com/" target="_blank" class="button button-glow button-rounded button-caution">前去学习</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="article tag-post col s12 m4 l4" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="1500">
                    <div class="card frind-card2">
                        <div class="frind-ship">
                            <div class="title">
                                <img src="http://image.luokangyuan.com/4027734.jpeg" target="_blank" alt="img">
                                <div>
                                    <h1>闪烁之狐</h1>
                                    <p>编程界大佬，技术牛，人还特别好，不懂的都可以请教大佬</p>
                                </div>
                            </div>
                            <div class="friend-button">
                                <a href="http://luokangyuan.com/" class="button button-glow button-rounded button-caution">前去学习</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="article tag-post col s12 m4 l4" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="1500">
                    <div class="card frind-card3">
                        <div class="frind-ship">
                            <div class="title">
                                <img src="http://image.luokangyuan.com/avatar.jpg" target="_blank" alt="img">
                                <div>
                                    <h1>ja_rome</h1>
                                    <p>平凡的脚步也可以走出伟大的行程</p>
                                </div>
                            </div>
                            <div class="friend-button">
                                <a href="https://me.csdn.net/jlh912008548" class="button button-glow button-rounded button-caution">前去学习</a>
                            </div>
                        </div>
                    </div>
                </div>

        </article>
    </div>
    </main>