{{!< default}} <main class="content">
    <div class="container" style="margin-top:-60px">
        <article>
            <div class="row tags-posts">
                <div class="article tag-post col s12 m4 l4">
                    <div class="card frind-card">
                        <div class="frind-ship">
                            <div class="title">
                                <img src="http://image.luokangyuan.com/1_qq_27922023.jpg" alt="img">
                                <div>
                                    <h1>码酱</h1>
                                    <p>我不是大佬，只是在追寻大佬的脚步</p>
                                </div>
                            </div>
                            <div class="friend-button">
                                <a href="http://luokangyuan.com/" class="button button-glow button-rounded button-caution">前去学习</a>
                            </div>
                        </div>
                    </div>
                </div>
        </article>
    </div>
    </main>