{{!< default}} 
    <main class="content">
        <div id="tags" class="container tag-tip-container">
            <div class="card">
                <div class="card-content">
                    <div class="tag-title center-align">跟着大佬学知识</div>
                </div>
            </div>
        </div>

        <div class="container">
            <article>
                <div class="row tags-posts">
                    <div class="article tag-post col s12 m4 l4" >
                          <div class="card">
                            <div class="contact-area">
                                <div class="contact">
                                    <main>
                                        <section>
                                            <div class="jianjie">
                                               <img src="http://image.luokangyuan.com/1_qq_27922023.jpg" alt="img">
                                                <aside>
                                                    <h1>码酱</h1>
                                                    <p>我不是大佬，只是在追寻大佬的脚步</p>
                                                </aside>

                                                <button>
                                                    <span>前去欣赏一下</span>

                                                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48"
                                                        viewBox="0 0 48 48">
                                                        <g class="nc-icon-wrapper" fill="#444444">
                                                            <path d="M14.83 30.83L24 21.66l9.17 9.17L36 28 24 16 12 28z"></path>
                                                        </g>
                                                    </svg>
                                                </button>
                                            </div>
                                        </section>


                                    </main>
                                </div>
                            </div>
                        
                    </div>

                    {{!-- <div class="article tag-post col s12 m3 l3">
                        <div class="ih-item circle effect1">
                            <a href="http://luokangyuan.com/" target="_blank">
                                <div class="spinner"></div>
                                <div class="img"><img src="http://image.luokangyuan.com/1_qq_27922023.jpg" alt="img"></div>
                                <div class="info">
                                    <div class="info-back">
                                        <h3>码酱</h3>
                                        <p>我不是大佬，占一个坑</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div> --}}
                </div>
            </article>
        </div>
    </main>