{{!< default}} <main class="content">
    <div class="container" style="margin-top:-60px">
        <article>
            <div class="row tags-posts friend-all">
                <div class="article tag-post col s12 m4 l4" data-aos="fade-up" data-aos-duration="2000">
                    <div class="card frind-card">
                        <div class="frind-ship">
                            <div class="title">
                                <img src="http://image.luokangyuan.com/1_qq_27922023.jpg" alt="img">
                                <div>
                                    <h1>码酱</h1>
                                    <p>不忘初心，努力做有价值的技术文章</p>
                                </div>
                            </div>
                            <div class="friend-button">
                                <a href="http://luokangyuan.com/" target="_blank" class="button button-glow button-rounded button-caution">前去学习</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="article tag-post col s12 m4 l4"data-aos="fade-up"      data-aos-duration="2000">
                    <div class="card frind-card1">
                        <div class="frind-ship">
                            <div class="title">
                                <img src="http://image.luokangyuan.com/timjie-tu-20180731223952.png" alt="img">
                                <div>
                                    <h1>杉木</h1>
                                    <p>前端大佬，PS大佬，不仅会写代码，还弹的一手好吉他</p>
                                </div>
                            </div>
                            <div class="friend-button">
                                <a href="http://w3more.cn/" target="_blank" class="button button-glow button-rounded button-caution">前去学习</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="article tag-post col s12 m4 l4"  data-aos="fade-up"      data-aos-duration="2000">
                    <div class="card frind-card2">
                        <div class="frind-ship">
                            <div class="title">
                                <img src="http://image.luokangyuan.com/4027734.jpeg" target="_blank" alt="img">
                                <div>
                                    <h1>闪烁之狐</h1>
                                    <p>编程界大佬，技术牛，人还特别好，不懂的都可以请教大佬</p>
                                </div>
                            </div>
                            <div class="friend-button">
                                <a href="https://blinkfox.github.io/" target="_blank"  class="button button-glow button-rounded button-caution">前去学习</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="article tag-post col s12 m4 l4" data-aos="fade-up"      data-aos-duration="2000">
                    <div class="card frind-card3">
                        <div class="frind-ship">
                            <div class="title">
                                <img src="http://image.luokangyuan.com/avatar.jpg" target="_blank" alt="img">
                                <div>
                                    <h1>ja_rome</h1>
                                    <p>平凡的脚步也可以走出伟大的行程</p>
                                </div>
                            </div>
                            <div class="friend-button">
                                <a href="https://me.csdn.net/jlh912008548" target="_blank"  class="button button-glow button-rounded button-caution">前去学习</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="article tag-post col s12 m4 l4" data-aos="fade-up"      data-aos-duration="2000">
                    <div class="card frind-card4">
                        <div class="frind-ship">
                            <div class="title">
                                <img src="http://image.luokangyuan.com/2019-05-19-071646.jpg" alt="img">
                                <div>
                                    <h1>Szx's Blog</h1>
                                    <p>Szx's Blo_一位Java程序员的个人博客</p>
                                </div>
                            </div>
                            <div class="friend-button">
                                <a href="https://songzixian.com/" target="_blank" class="button button-glow button-rounded button-caution">前去学习</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="article tag-post col s12 m4 l4" data-aos="fade-up"      data-aos-duration="2000">
                    <div class="card frind-card5">
                        <div class="frind-ship">
                            <div class="title">
                                <img src="http://image.luokangyuan.com/4979648.png" alt="img">
                                <div>
                                    <h1>纯洁的微笑</h1>
                                    <p>分享技术，品味人生，Open source is a spirit, I enjoy it.</p>
                                </div>
                            </div>
                            <div class="friend-button">
                                <a href="http://www.ityouknow.com/" target="_blank" class="button button-glow button-rounded button-caution">前去学习</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="article tag-post col s12 m4 l4" data-aos="fade-up"      data-aos-duration="2000">
                    <div class="card frind-card6">
                        <div class="frind-ship">
                            <div class="title">
                                <img src="http://image.luokangyuan.com/006qeXEOly1g08mxjek52j30e80e8t94.jpg" alt="img">
                                <div>
                                    <h1>zerbo's blog</h1>
                                    <p>向来是据理力争，从不曾无理取闹。</p>
                                </div>
                            </div>
                            <div class="friend-button">
                                <a href="https://blog.zerbo.cn/" target="_blank" class="button button-glow button-rounded button-caution">前去学习</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="article tag-post col s12 m4 l4" data-aos="fade-up"      data-aos-duration="2000">
                    <div class="card frind-card7">
                        <div class="frind-ship">
                            <div class="title">
                                <img src="http://image.luokangyuan.com/avatar1.jpg" alt="img">
                                <div>
                                    <h1>Jitwxs</h1>
                                    <p>专注 Java 后端开发、SpringBoot等技术分享</p>
                                </div>
                            </div>
                            <div class="friend-button">
                                <a href="https://www.jitwxs.cn" target="_blank" class="button button-glow button-rounded button-caution">前去学习</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="article tag-post col s12 m4 l4" data-aos="fade-up"      data-aos-duration="2000">
                    <div class="card frind-card8">
                        <div class="frind-ship">
                            <div class="title">
                                <img src="http://image.luokangyuan.com/avatar3.jpg" alt="img">
                                <div>
                                    <h1>程序猿DD</h1>
                                    <p>大佬，文章涉及Spring Boot、Spring Cloud、微服务等</p>
                                </div>
                            </div>
                            <div class="friend-button">
                                <a href="http://blog.didispace.com/" target="_blank" class="button button-glow button-rounded button-caution">前去学习</a>
                            </div>
                        </div>
                    </div>
                </div>

        </article>
    </div>
    </main>