{{!< default}}
    <main class="content">
        <div id="tags" class="container tag-tip-container">
            <div class="card">
                <div class="card-content">
                    <div class="tag-title center-align">赞助墙（一分也是爱，你的赏识是我前进的动力）</div>
                    <div class="tag-chips">
                        {{!-- {{#get "tags" limit="all" include="count.posts" order="count.posts desc" }}
                        {{#foreach tags}}
                        {{#if count.posts}} --}}
                        <a href="#">
                            <span class="chip center-align waves-effect waves-light
                             chip-default classificationColor"
                                style="background-color: #F9EBEA;">王强：5元
                            </span>
                        </a>
                         <a href="#">
                            <span class="chip center-align waves-effect waves-light
                             chip-default classificationColor"
                                style="background-color: #F9EBEA;">何彬：0.5元
                            </span>
                        </a>
                        <a href="#">
                            <span class="chip center-align waves-effect waves-light
                             chip-default classificationColor"
                                style="background-color: #F9EBEA;">兰芝：0.01元
                            </span>
                        </a>
                        <a href="#">
                            <span class="chip center-align waves-effect waves-light
                             chip-default classificationColor"
                                style="background-color: #F9EBEA;">ber：1元
                            </span>
                        </a>
                        {{!-- {{/if}}
                        {{/foreach}}
                        {{/get}} --}}
                    </div>
                </div>
            </div>
        </div>
    </main>
    